@import "tailwindcss";
@plugin "daisyui";
.calculators-container{
  display: grid;
  grid-template-areas:"navbar navbar" "sidebar content" "footer footer";
  height: 100vh;
}
.navbar{
  grid-area: navbar;
  background: 	#ed1b24;     
  color: #FFFFFF;
  position:sticky;
}
#logo{
  transform: translateY(1px);
}
.sidebar{
  grid-area: sidebar;
  color: #E5E7EB;
  background: #F9FAFB;
}
.content{
  grid-area: content;
  background: #F9FAFB;  /* soft white */
  color: black;
}
.footer{
  grid-area: footer;
  background: #cccccc;   
}
.website-name {
  font-size: 18px;
  font-weight: 600;
  align-self: center;
  line-height: 1;
}
.sidemenu{
  height:100%;
  width: 100%;
}