@import "tailwindcss";
@plugin "daisyui";
.calculators-container{
  display: grid;
  grid-template-areas:
    "navbar"
    "content"
    "footer";
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 40px;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .calculators-container {
    grid-template-areas:
      "navbar navbar"
      "sidebar content"
      "footer footer";

    grid-template-columns: 300px 1fr;
  }
}
.navbar{
  grid-area: navbar;
  background: #ed1b24;
  color: #FFFFFF;
  position: sticky;
  top: 0;      
  z-index: 50;
}
#logo{
  transform: translateY(1px);
}
.sidebar{
  grid-area: sidebar;
  color: #E5E7EB;
  background: #F9FAFB;
}
.content{
  grid-area: content;
  background: #F9FAFB;  /* soft white */
  color: black;
}
.footer-area{
  grid-area: footer;
  background: #ed1b24;
    
}
.website-name {
  font-size: 18px;
  font-weight: 600;
  align-self: center;
  line-height: 1;
}
.sidemenu{
  height:100%;
  width: 100%;
}

@keyframes ecgMove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-ecg {
  animation: ecgMove 6s linear infinite;
}
.tooltip::before {
  max-width: 90vw;
  left: 50% !important;
  transform: translateX(-50%) !important;
  white-space: normal;
}